.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  width: 100vw;
}
.boards_container {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  padding-left: 5px;
  /* padding: 10px 20px; */
}
.app_boards {
  display: flex;
   /* min-width: fit-content;  */
  /* gap: 30px; */
}
